body {
   padding: 0;
   margin: 0;
   font-family: "Helvetica Neue", "Helvetica", helvetica, arial, sans-serif; color: #747067; font-size: 14px; 
}

html, body, #map {
   width:100%
   -moz-box-sizing: border-box; 
   -webkit-box-sizing: border-box;     
   box-sizing: border-box; 
   height: 100%;
}

.logo {
  background-color: #FFFFFF;
  margin-top: 0;
}

#map_menu {
   position: relative;
   overflow-y: auto;
   float: left;
   background-color: #3D3A35;
   color: #FFFFFF;
   height: 100%;
   width: 300px;
   z-index: 2090;
   -webkit-box-shadow: 0px 0px 0px 7px rgba(166, 202, 30, 0.5);
   -moz-box-shadow: 0px 0px 0px 7px rgba(166, 202, 30, 0.5);
   box-shadow: 0px 0px 0px 7px rgba(166, 202, 30, 0.5);
   font-size: 1.1em
}

#map_menu .logo_positionner {
   text-align: center;
   /* margin-top: 0.5em; deleted to collapse with head */
   margin-bottom: 1em;
}

#map_menu .logo img {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px;
margin-bottom: 1em;
}

#map_menu .layer_title {
   margin: 1.5em;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}

#map_menu .layer_title :hover {
   /* text-decoration: underline;*/
   color: #9ABC46;
}

#map_menu .layer_title img {
   height: 1.1em;
   margin-right: 0.5em;
}

#map_menu .layer_head {
    font-size: larger;
    color: #A6CA1E;
    font-weight: bold;
    margin-left: 0.5em; /* to overrride .layer_title margin */
    margin-top: 1em ; /* to override .layer_title margin-top */
}


#map_menu div.layer_title div.img {
   width:30px;
   height: 1.1em;
   float:left;
   text-align:center
}

#champs-libres_ref {
   text-align: center;
   position: absolute;
   bottom: 0;
   width: 300px;
}

#champs-libres_ref a {
   color: rgba(166, 202, 30, 0.5);
   text-decoration: none;
}

/* Leaflet customize */
.leaflet-left .leaflet-control {
   margin-left: 30px;
}

.leaflet-popup-content {
   width: 250px;
}

#img_loader_container {
   position: absolute;
}

.img_loader {
   position: absolute;
   width: 300px;
}

.colored_round {
   height:1em;
   width:1em;
   margin:auto;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px; /* future proofing */
   -khtml-border-radius: 5px
}


/** layout popup ***/


.leaflet-popup-content-wrapper,.leaflet-popup-content {
   -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
    border-radius: 0 !important;
 }
 
 .leaflet-popup-content-wrapper {
     padding-left: 0 !important;
     padding-right: 0 !important;
     padding-top: 0 !important;
 }
 
 .leaflet-popup-content {
     margin: 0 !important;
     margin-right: -1px !important;
     max-width: 180px !important;
 }
 
 div.webgis_pop_up_content {
     max-width: 180px;
 }
 
 div.webgis_pop_up_content div.pop_up_top {
     background-color: rgb(61,58,53);
     color: white;
     padding-top: 30px; /* to show the cross to close the pop-up */
 }
 
 div.webgis_pop_up_content p.head {
     margin-left: 4px;
     margin-top: 5px; 
 }
 
 div.webgis_pop_up_content a.photo {
     border: 0 solid #707070;
 }
 
 div.webgis_pop_up_content img.main {
     max-width: 180px;
 }
 
 div.webgis_pop_up_sub_content{
     padding-left: 10px;
     padding-right: 10px;
 }
 
 div.webgis_pop_up_sub_content dt {
     font-weight: bold;
     margin-top: 6px;
     color: rgb(61,58,53);
 }
 
 div.webgis_pop_up_sub_content dd {
     margin-left: 6px;
 }
